<ion-view view-title="Todo">
	<ion-content>
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search..." ng-model="search">
		</label>
		<div class="bar bar-subheader">
			<div class="button-bar">
				<a class="button" ng-click="devList.filter=''">All</a>
				<a class="button" ng-click="devList.filter='true'">Completed</a>
				<a class="button" ng-click="devList.filter='false'">Incomplete</a>
			</div>
		</div>
		<br>
		<br>
		<div class="list">
			<ion-checkbox ng-repeat="item in devList.todoList | filter : search |filter : devList.filter"
			ng-model="item.checked" 
			ng-checked="item.checked">
			{{ item.text }}
			</ion-checkbox>
		</div>
		<form ng-submit="addTodo(todos)">
			<label class="item item-input">
				<input type="text" ng-model="todos.todotext"  size="30" placeholder="add new todo here">
			</label>
			<input class="button button-block button-positive" type="submit" value="Add">
		</form>
	</ion-content>
</ion-view>




